.adamina-regular {
    font-family: "Adamina", serif;
    font-weight: 400;
    font-style: normal;
  }
  
h1{
    color: white;
}


#header {
    display: flex;
    background-color: #81241f;
    padding: 5px 5px 4px 5px;
    align-items: center;
}

#login{
    margin-left: auto;
    margin-right: 10px;
    padding: 5px 20px 5px 20px;
    color: #81241f;
    
}

body {
    background-color: #f2f1ff ;
}

#SearchOptions {
    display: flex;
    padding: 25px 25px

}

#SearchMenu {
    border: #81241f;
    border-style: solid;
    padding: 13px 25px;
    
}

#search{ 
    background-color: #81241f;
    color: white;
    margin-left: 35px;
    margin-top: 15px;
}

#searchResults {
    border: #81241f;
    border-style: solid;
    margin-left: 25px;
    
}
.results {
    border-bottom: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: larger;
}

.results:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.results:first-child {
    padding-top: 0px;
}
