html, body {
    background-color: #f2f1ff ;
    margin: 0;
    padding: 0;
    height: 100%
    flex-direction: column;
}

#header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #81241f;
    padding: 10px 20px;
}

.welcomeMsg{
    color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: left;
    padding:25px 20px;
}

.adamina-regular {
    font-family: "Adamina", serif;
    font-weight: 400;
    font-style: normal;
  }
  
h1{
    color: white;
    margin: 0;
}

.auth-buttons{
    display: flex;
    gap: 10px;
}

button {
    padding: 5px 20px;
    color: #81241f;
    background: white;
    border: none;
    cursor: pointer;
}

#login, #signup, #home, #logout {
    color:#81241f;
    background-color: white;
    border: 1px solid #81241f;
    padding: 5px 20px;
    cursor: pointer;
}

#login:hover, #signup:hover, #home:hover, #logout:hover {
    background-color: #f2f2f2;
}


#SearchOptions {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 25px 20px;
}

#SearchMenu {
    border: 4px solid #81241f;
    padding: 10px 15px;
}

#search, #createBC, #editPF, #submitBtn{ 
    background-color: #81241f;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

 #searchResults {
    border: #81241f;
    border-style: solid;
    margin-left: 25px;
    
}
.results {
    border-bottom: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: larger;
}

.results:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.results:first-child {
    padding-top: 0px;
}
 
#out p {
	color: #81241f;
	border-left: 5px solid #81241f;
	padding-top: 20px;
	padding-left: 10px;
	vertical-align: 0px;
}

#footer{
	background-color: #81241f;
	color: white;
	padding: 10px 20px;
	text-align: center;
	width: 100%;
	postion: absolute;
	z-index: 0;
	bottom: 0;
	left: 0;

}

.dashboard{
	color: white;
}
.main-container{
	flex: 1;
	display: flex;
	align-items: flex-start;
	width: 90vw;
	margin: 20px auto;
	gap: 20px;	
}
/*
.nav{
	min-height: 71vh;
	width: 250px;
	background-color: #81241f;
	position: absolute;
	top: 0px;
	left: 00;
	box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	padding: 30px 0 20px 10px;
}
*/

.view{
	position: absolute;
	top: 20px;
	right: 20px;
	height: 35px;
	width: 100px;
	
	background-color: #81241f;
	color: white;
	font-size: 15px;
	border: none;
	cursor: pointer;
}
.IT-container {
	flex: 1;
	min-height: 395px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 30px;
	box-shadow: 3px 3px 10px rgb(188,188,188);
	padding: 20px;
	margin: 0;
	position: relative;
	z-index: 0;
}

.nav {
	flex: 1;
	min-height: 395px;
	width: 70%;
	background-color: #81241f;
	
	padding: 20px;
	margin: 0;
	position: relative;
	z-index: 0;
	color: white;	
}

#ticketTable{
	width: 100%;
	border-collapse: collapse;
	text-align:left;
}
.report-header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 10px 20px;
  border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

.IT-body{
	max-width: 1160px;
	overflow-x: auto;
	padding: 20px
}

.IT-topic-heading,
.item1{
	position: relative;
	width: 1120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: -15px;
}

.items{
	width: 1120px;
	margin-top: 15px;
}

.item1{
	position: relative;
	left: -10px;
	margin-top: 0px;
}

.sector{
	font-size: 14px;
	letter-spacing: 0px;
	font-weight: 600;
}

.4{
	width: 100px;
	text-align: center;
	background-color: green;
	color: white;
	border-radius: 4px;
}
