/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Adamina', serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*background-color: #81241f;*/
  background-image: url('../../public/loginBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-container {
  width: 300px;
  padding: 20px;
  background-color: #81241f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: white;
  font-size: 16px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #612c2c;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #81241f;
  border-radius: 4px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #81241f;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #81241f;
}

#loginMessage {
  margin-top: 15px;
  font-size: 14px;
  color: black;
}
